.Footer__SocialLink__Facebook, 
.Footer__SocialLink__Twitter, 
.Footer__SocialLink__Instagram,
.Footer__SocialLink__Linkedin {
    margin: 0 8px;
    padding: 10px;
    border-radius: 50%;
    transition: all .2s;
}
.Footer__SocialLink__Facebook:hover img, 
.Footer__SocialLink__Twitter:hover img, 
.Footer__SocialLink__Instagram:hover img,
.Footer__SocialLink__Linkedin:hover img {
    transform: scale(1.1);
}
.Footer__SocialLink__Facebook img, 
.Footer__SocialLink__Twitter img, 
.Footer__SocialLink__Instagram img,
.Footer__SocialLink__Linkedin img {
    width: 25px;
    transition: all .2s;
}
.Footer__SocialLink__Facebook:hover {
    background-color: #3b5999;
    
}
.Footer__SocialLink__Twitter:hover {
    background-color: #55acee;
}
.Footer__SocialLink__Instagram:hover {
    background-color: #e4405f;
}
.Footer__SocialLink__Linkedin:hover {
    background-color: #0077B5;
}
