.HeroArea__Button {
  /* background-color: rgb(23,108,108); */
  background-color: #fff;
  width: 156px;
  height: 41px;
  border: 2.5px solid #fff;
  border-radius: 50px;
  color: rgb(23,108,108);
  font-size: 14px;
  font-weight: 700;
  transition: .2s all ease-in;
  cursor: pointer;
  letter-spacing: .7px;
}
.HeroArea__Button:hover {
  background-color: var(--primary-theme-color);
  color: #fff;
  border: 2px solid var(--primary-theme-color);
}
@media (max-width: 576px) {
  .HeroArea__Button {
    width: 132px;
    height: 34px;
    font-size: 12px;
  }
}