.HeroAreaButton {
  background-color: rgba(0,0,0,0);
  width: 156px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: .2s all ease-in;
  cursor: pointer;
  letter-spacing: .7px;
}
.HeroAreaButton:hover {
  background-color: var(--primary-theme-color);
  border: 2px solid var(--primary-theme-color);

}