.IndividualNote {
    box-shadow: 0px 0px 8px rgba(23, 108, 108,.3);
}
.IndividualNote__Figure img {
    width: 100%;
}
.IndividualNote__Person {
    padding: 10px 0;
}
.IndividualNote__Person__Name__Description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.IndividualNote__Person__Image {
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.IndividualNote__Heading {
    padding: 10px 0;
}
.IndividualNote__Heading h5 {
    color: rgb(23, 108, 108);
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.IndividualNote__Info {
    padding: 5px 0;
    font-size: 14px;
}
.IndividualNote__Info > div > div {
    padding: 3px;
    border-radius: 3px;
}
.IndividualNote__Info__Downloads {
    color: #fff;
    /* font-weight: 700; */
    background-color: rgba(23, 108, 108, .4);
    
    /* font-size: 14px; */
    /* border-right: 1px solid rgba(23, 108, 108, .8); */
}
.IndividualNote__Info__Downloads img {
    width: 14px;
}
.IndividualNote__Info__Views {
    color: #fff;
    background-color: rgba(23, 108, 108, .4);
    /* font-size: 14px; */
}
.IndividualNote__Info__Rating {
    background-color: rgba(23, 108, 108, .4);
    color: #fff;
    /* font-size: 14px; */
}
.IndividualNote__Person__Hosted__Text {
    color: rgba(23, 108, 108, .4); 
    /* font-size: 14px; */
}
.IndividualNote__Person__Hosted__Text:hover {
    text-decoration: none;
}
.IndividualNote__Person__Description {
    color: rgba(23, 108, 108, .6);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.IndividualNote__Person__Name {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.IndividualNote__Person__Name a {
    color: rgba(23, 108, 108, 1);
    text-decoration: none;
}
.IndividualNote__Person__Name a:hover {
    text-decoration: underline;
}
@media (max-width: 576px) {
    .IndividualNote__Heading h5 {
        /* color: rgb(23, 108, 108); */
        font-size: 16px;
        /* font-weight: 600; */
    }
    .IndividualNote__Heading {
        padding: 5px 0;
    }
    .IndividualNote__Person__Image {
        width: 35px;
        min-width: 35px;
        height: 35px;
    }
    .IndividualNote__Person__Hosted__Text {
        color: rgba(23, 108, 108, .8s); 
        font-size: 12px;
    }
    .IndividualNote__Person__Name {
        font-size: 14px;
        font-weight: 600;
    }
    .IndividualNote__Person__Description {
        font-size: 12px;
    }
    .IndividualNote__Info {
        padding: 0px;
        font-size: 10px;
    }
    .IndividualNote__Person {
        padding: 5px 0;
    }
    .IndividualNote__Info > div > div {
        padding: 3px;
        border-radius: 3px;
    }
}

/* 
heading
fontSize 22, 14
padding: 10, 5
info 
fontSize 14, 10
padding 5, 0
person
padding 10, 5
person Name: 16, 12
person description: 14, 10

*/